.idea/

# By default we exclude everything
log-grid/*

# Unexclude specific folders for GitHub
!log-grid/pyloggrid/
!log-grid/docs/
!log-grid/.coveragerc
!log-grid/.gitignore
!log-grid/.gitlab-ci.yml
!log-grid/.pre-commit-config.yaml
!log-grid/CHANGELOG.md
!log-grid/CONTRIBUTING.md
!log-grid/install.ps1
!log-grid/install.sh
!log-grid/LICENSE
!log-grid/poetry.lock
!log-grid/pyproject.toml
!log-grid/README.md
!log-grid/Utils/
!log-grid/tests/
!log-grid/Simulations/
!log-grid/.gitlab
!log-grid/readme_pypi.md
!log-grid/build.py
